{% extends 'main.html' %}

{% block content %}
{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter Username"/>

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter password"/>
        <input type="Submit" value="Login" />
    </form>
    <p>Have'nt signed up yet?</p>
    <a href="{% url 'register' %}">Sign up</a>
</div>
{% else %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        
        <input type="Submit" value="Register" />
    </form>
    <p>Already signed up</p>
    <a href="{% url 'login' %}">login</a>
</div>
{% endif %}
{% endblock content %}